* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0% 15% 0% 15%;
	text-align: center;
}

body {
	padding-top: 15%;
}

.login {
	padding: 2% 0% 2% 0%;
	border: 3px solid #000;
	border-radius: 50px;
    text-align: center;
}

.login>img {
    width: 16%;
}

.login>h2 {
    color: #000;
    font-weight: 900;
	font-size: 30px;
}

.login-boton>form>button {
	margin-top: 2%;
	font-size: 16px;
	border-radius: 10px;
	background: #000;
	height: 50px;
	color: #fff;
	padding: 0px 57px 0px 57px;
	border: 0px solid #fff;
	cursor: pointer;
	transition: .3s ease all;
	outline: none;
}

.login-boton>form>button:hover {
	background: #ff9900;
	color: #000000;
}

input {
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	border: 1px solid #000;
	color: #000;
	background: #ffffff;
	transition: .3s ease all;
	border-radius: 10px;
}

input:focus {
	outline: none;
	border: 1px solid #ff9900;
}

.note {
	margin-top: 5%;
}

.login-boton2>form>button {
	margin-top: 2%;
	font-size: 16px;
	border-radius: 10px;
	background: #00bd09;
	height: 50px;
	color: #fff;
	padding: 0px 57px 0px 57px;
	border: 0px solid #fff;
	cursor: pointer;
	transition: .3s ease all;
	outline: none;
}

.login-boton2>form>button:hover {
	background: #ff9900;
	color: #000000;
}

@media only screen and (max-width: 1200px) {
    * {
        margin: 0% 10% 0% 10%;    
    }
}

@media only screen and (max-width: 1000px) {
    * {
        margin: 0% 5% 0% 5%;   
    }
	.login {
		border: 0px solid #000;
		border-radius: 50px;
	}
	.login>img {
		width: 26%;
	}
}

@media only screen and (max-width: 500px) {
    * {
        margin: 0% 1% 0% 1%;    
    }
	.login {
		border: 0px solid #000;
		border-radius: 50px;
	}
	.login>img {
		width: 36%;
	}
}