@font-face {
    font-family: 'liderblack';
    src: url('https://cdn.jsdelivr.net/gh/malcriados/F@main/lider-black.woff');
}

@font-face {
    font-family: 'liderbold';
    src: url('https://cdn.jsdelivr.net/gh/malcriados/F@main/lider-bold.woff');
}

@font-face {
    font-family: 'liderextrabold';
    src: url('https://cdn.jsdelivr.net/gh/malcriados/F@main/lider-extrabold.woff');
}

@font-face {
    font-family: 'liderlight';
    src: url('https://cdn.jsdelivr.net/gh/malcriados/F@main/lider-light.woff');
}

/* Reset y fuente */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Contenedor principal centrado */
.main-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Tarjeta central */
.card-central {
    background: #fff;
    border-radius: 20px;
    padding: 40px 30px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

/* Logo */
.logo {
    width: 100px;
    height: auto;
}

.logo:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

/* Título */
h1 {
    font-family: 'liderblack';
    font-size: 2.5em;
    color: #000;
    margin: 2px 0px 2px 0px;
}

/* Descripción */
h2 {
    font-family: 'liderlight';
    font-size: 1.0em;
    color: #000;
    margin: 2px 0px 10px 0px;
}

/* Botones */
.botones {
    font-family: 'liderbold';
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn {
    padding: 15px;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 10px;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.btn.secundaria {
    background: linear-gradient(135deg, #d17a00, #f39c12);
}

.btn.primaria {
    background: linear-gradient(135deg, #d17a00, #f39c12);
}

.btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.back-btn {
    margin-top: 1rem;
    display: inline-block;
    text-decoration: none;
    color: #e67e22;
    font-weight: bold;
  }

  footer {
    font-size: 15px;
    font-family: 'liderlight';
    background-color: #f1f1f1;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
  
  .footer-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0px;
    margin: 0px;
  }

  .footer-contenido>p>span {
    font-family: 'liderbold';
  }


/* Responsive */
@media (max-width: 480px) {
    .card-central {
        padding: 30px 20px;
    }

    h1 {
        font-size: 2em;
    }

    .btn {
        font-size: 1em;
    }
}

