:root {
	--primario: #e94c15;
	--secundario: #000;

	--reghover: #e26b40;
	--regfondo: #e94c15;

	--canhover: #e26b40;
	--canfondo: #e94c15;

	--botonlider: #000000;

	--botondescargar: #e94c15;

}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background: #F0F4F3;

	padding-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contenedor {
	position: relative;
	width: 90%;
	max-width: 900px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	background: #fff;
	min-height: 37vh;

	display: grid;
	grid-template-columns: 1fr;
}

.columna-izquierda {
	padding: 32px;
}

.header {
	margin-bottom: 1px;
	text-align: center;
}

.header h1 {
	color: var(--primario);
	font-weight: 900;
}

.header p {
	color: var(--secundario);
}

label {
	margin-bottom: 10px;
	display: block;
	font-weight: 500;
	color: var(--secundario);
	font-size: 14px;
}

.contenedor-input {
	position: relative;
}

.registro {
	display: none;
}

.registro.activo {
	display: block;
}

.exito {
	display: none;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.exito.activo {
	display: flex;
}

.exito svg {
	width: 50px;
	height: 50px;
	color: var(--primario);
}


input {
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	width: 100%;
	border: none;
	border-radius: 5px;
	padding: 0 20px 0 45px;
	margin-bottom: 20px;
	background: #f4f8f7;
	color: var(--primario);
	border: 2px solid transparent;
	transition: .3s ease all;
}

input:focus {
	outline: none;
	border: 2px solid var(--primario);
}

.contenedor-input svg {
	position: absolute;
	color: var(--primario);
	top: 17px;
	left: 17px;
} 

.contenedor-boton {
	display: flex;
	justify-content: center;
}

button {
	font-size: 16px;
	border-radius: 5px;
	margin-top: 20px;
	background: var(--regfondo);
	height: 50px;
	color: #fff;
	padding: 0 50px;
	display: flex;
	align-items: center;
	justify-content: end;
	border: 0px solid var(--primario);
	cursor: pointer;
	transition: .3s ease all;
	outline: none;
}

button:hover {
	background: var(--reghover);
	color: #fff;
}

button svg {
	margin-left: 10px;
	width: 20px;
	height: 20px;
}

a {
	font-size: 16px;
	text-decoration: none;
	border-radius: 5px;
	margin-top: 20px;
	background: var(--botonlider);
	height: 50px;
	color: #fff;
	padding: 0 50px;
	display: flex;
	align-items: center;
	justify-content: end;
	border: 0px solid var(--primario);
	cursor: pointer;
	transition: .3s ease all;
	outline: none;
}

a:hover {
	background: var(--botondescargar);
	color: #fff;
}

#califi {
	background-image: url('/images/buscar.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	width: 100%;
	font-size: 16px;
	padding: 12px 20px 12px 45px;
	border: 0px solid #ddd;
	margin-bottom: 12px;
	}
	
	#calif {
		border-collapse: collapse;
		width: 100%;
		border: 0px solid #ddd;
		font-size: 16px;
	}
	
	#calif th, #calif td {
		text-align: left;
		padding: 12px;
	}
	
	#calif tr {
		border-bottom: 1px solid #ddd;
	}
	
	#calif tr.header, #calif tr:hover {
		background-color: #f1f1f1;
	}

	#logosc {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#logosc>img {
		max-width: 15%;
		border: 0px solid red;
	}

	#bot { 
		margin: 0px;
		padding: 0px 20px 0px 20px;
		background-color: var(--botondescargar);
	}