body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 30px;
  max-width: 700px;
  width: 100%;
}

.logo {
  display: block;
  margin: 0 auto 0px;
  width: 100px;
}

.logo:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.search-input {
    width: 95.5%;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #e67e22;
    border-radius: 8px;
  }

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

thead {
    font-family: 'liderbold';
    font-size: 16px;
  background-color: #e67e22;
  color: white;
}

tbody {
    font-family: 'liderlight';
    font-size: 15px;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.btn {
  background-color: #e67e22;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
}

.btn:hover {
  background-color: #d35400;
}

.pagination {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pagination button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #e67e22;
  color: white;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: default;
}

h1 {
    font-family: 'liderblack';
    font-size: 2.5em;
    color: #000;
    margin: 2px 0px 2px 0px;
    text-align: center;
}

h2 {
    text-align: center;
    font-family: 'liderlight';
    font-size: 1.0em;
    color: #000;
    margin: 2px 0px 10px 0px;
}

.btncentrar {
  text-align: center;
}

.backbtn {
  margin-top: 1rem;
  display: inline-block;
  text-decoration: none;
  color: #e67e22;
  font-weight: bold;
}

@media (max-width: 880px) {
    .search-input {
        width: 95%;
    }
  }

  @media (max-width: 680px) {
    .search-input {
        width: 92%;
    }
    .card {
        padding: auto;
      }
      th, td {
        padding: 7px;
      }
      
  }

  @media (max-width: 380px) {
    body {
        padding: 5px;
    }
    .search-input {
        width: 88%;
    }
    .card {
        padding: 15px;
      }

      th, td {
        padding: 7px;
      }
      .btn {
        padding: 6px 5px;
        font-size: 13px;
      }
      thead {
        font-size: 14px;
    }
    
    tbody {
        font-size: 13px;
    }

    h1 {
        font-size: 2.2em;
    }

  }

